<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{TITLE}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="slide {{SLIDE_CLASS}}">
    {{SLIDE_CONTENT}}
    <div class="slide-number">{{SLIDE_INDEX}} / {{SLIDE_TOTAL}}</div>
  </div>
</body>
</html>
